{% extends "base.html" %}

{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Route Review</div>
        <div class="masthead-heading text-uppercase">Welcome!</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#login">Login</a>
    </div>
</header>
<!-- Search Route-->
<section class="page-section" id="search">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Route Search</h2>
            <h3 class="section-subheading text-muted">Fill in the fields below to see which routes to choose from!
            </h3>
        </div>
        <!-- Search Box -->
        <form class="col-auto">
            <div class="form-group">
                <label for="routename">Route Name</label>
                <input type="text" class="form-control" id="routename" placeholder="Route Name">
            </div>
            <div class="form-group">
                <label for="routelocation">Location</label>
                <select class="form-control" id="routelocation">
                    <option>No Location Selected</option>
                    <option>Fachwen</option>
                    <option>Clegir</option>
                    <option>Cloggy Boulders</option>
                    <option>Pac Man</option>
                    <option>Cwm Glas Bach</option>
                    <option>Wavelength Ynys Ettws</option>
                </select>
            </div>
            <div class="form-group">
                <label for="routegrade">Route Grade</label>
                <select class="form-control" id="routegrade">
                    <option>No Grade Selected</option>
                    <option>5</option>
                    <option>5a</option>
                    <option>5b</option>
                    <option>5c</option>
                    <option>6a</option>
                    <option>6a+</option>
                    <option>6b</option>
                    <option>6b+</option>
                    <option>6c</option>
                    <option>6c+</option>
                    <option>7a</option>
                    <option>7a+</option>
                    <option>7b</option>
                    <option>7b+</option>
                    <option>7c</option>
                    <option>7c+</option>
                    <option>8a</option>
                    <option>8a+</option>
                    <option>8b</option>
                    <option>8b+</option>
                </select>
                <div class="padding-1 col-auto">
                    <button type="submit" class="btn btn-md btn-primary mb-2">Search</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Review Route -->
<section class="page-section" id="review">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Review a Route</h2>
            <h3 class="section-subheading text-muted">Enter a route name in the search field below!</h3>
        </div>
        <form class="col-auto">
            <div class="form-group">
                <label for="routenamereview">Route Name</label>
                <input type="text" class="form-control" id="routenamereview" placeholder="Route Name">
            </div>
            <div class="padding-1">
                <button type="submit" class="btn btn-md btn-primary mb-2">Search</button>
            </div>
        </form>
    </div>
</section>
<!--Add a Route-->
<section class="page-section" id="addroute">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Add a Route</h2>
            <h3 class="section-subheading text-muted">Not found the route you were looking for? Add
                it here!</h3>
        </div>
        <form class="col-auto">
            <div class="form-group">
                <label for="routenameadd">Route Name</label>
                <input type="text" class="form-control" id="routenameadd" placeholder="Route Name">
            </div>
            <div class="form-group">
                <label for="routelocationadd">Location</label>
                <select class="form-control" id="routelocationadd">
                    <option>No Location Selected</option>
                    <option>England</option>
                    <option>Wales</option>
                    <option>Spain</option>
                    <option>Greece</option>
                    <option>Thailand</option>
                </select>
            </div>
            <div class="form-group">
                <label for="routegradeadd">Route Grade</label>
                <select class="form-control" id="routegradeadd">
                    <option>No Grade Selected</option>
                    <option>5</option>
                    <option>5a</option>
                    <option>5b</option>
                    <option>5c</option>
                    <option>6a</option>
                    <option>6a+</option>
                    <option>6b</option>
                    <option>6b+</option>
                    <option>6c</option>
                    <option>6c+</option>
                    <option>7a</option>
                    <option>7a+</option>
                    <option>7b</option>
                    <option>7b+</option>
                    <option>7c</option>
                    <option>7c+</option>
                    <option>8a</option>
                    <option>8a+</option>
                    <option>8b</option>
                    <option>8b+</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tags">Add any relevant tags (as you would on an Insta picture!)</label>
                <select multiple data-role="tagsinput">
                    <option value="Crimps">Crimps</option>
                    <option value="Jugs">Jugs</option>
                    <option value="Slopers">Slopers</option>
                    <option value="Mossy">Mossy</option>
                    <option value="Overgrown">Overgrown</option>
                    <option value="Holds Missing">Holds Missing</option>
                </select>
            </div>
            <!--Photo Uploader-->
            <p>Photo Uploader</p>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Upload Photos</label>
            </div>
            <!--Add Button-->
            <div class="padding-1">
                <button type="submit" class="btn btn-md btn-primary mb-2">Add</button>
            </div>
        </form>
    </div>
</section>


<!-- Login -->
<section class="page-section" id="login">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Login to Route Review</h2>
            <h3 class="section-subheading text-muted"><a href="{{ url_for('createlogin') }}">Create
                    an account here</a></h3>
        </div>
        <!-- Login Box -->
        <form>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left">Copyright © RouteReview 2020</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-right">
                <a class="mr-3" href="#!">Privacy Policy</a>
                <a href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
<div class="links">
    <a href="{{ url_for('routerecord') }}" class="routerecord">Route Record</a>
</div>

{% endblock %}